Source: graylog2-web-interface
Section: unknown
Priority: extra
Maintainer: Jordan Evans <jordan.evans@rackspace.com>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: graylog2-web-interface
Architecture: any
Depends: ruby1.9.3, mongodb
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
